<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 1.0
    </div>
    <strong>Bản quyền &copy; 2023 <a href="~/">PD Shop</a>.</strong> All rights
    reserved.
</footer>
